<h1> <%=@game.player_1.named%> clocking in to kick some a$$ </h1>
<h1> <%=@game.player_2.named%> back in the game for some major carnage </h1>

<%=@game.player_2.named%>: <%=@game.player_2.hp%>HP

<form action="/attack">
  <input type='submit' value="Attack">
</form>
